body{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: orange;
    width: fit-content;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.passwords-generator-div{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.option{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px;
}

label{
    font-size: 17px;
}

.button-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

.generate-but{
    font-family: 'Courier New', Courier, monospace;
    background-color: green;
    margin-top: 20px;
    border: 1px solid rgb(0, 90, 0);
    width: fit-content;
    height: 30px;
    color: white;
    border-radius: 5px;
    font-size: 19px;
}

.clear-but{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(104, 130, 139);
    width: fit-content;
    height: 30px;
    color: black;
    border-radius: 5px;
    font-size: 19px;
}

.generate-but:active, .clear-but:active{
    opacity: 0.5;
    transition: all 100ms;
}

.passwords-show-div{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#passwords{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-result{
    background-color: pink;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
